<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @person.password %>
</p>

<p>
  <strong>Has space:</strong>
  <%= @person.has_space %>
</p>

<p>
  <strong>Bay:</strong>
  <%= @person.bay %>
</p>

<p>
  <strong>Points:</strong>
  <%= @person.points %>
</p>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
